body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    background-image: url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTZ8fHxlbnwwfHx8fHw%3D');   
    background-size: cover;                  
    background-position: center;             
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {

    text-align: center;
    color: #333;
}

.choices {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

#resultText {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#welcomeScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#startGameButton {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#startGameButton:hover {
    background-color: #45a049;
}

#startGameButton:active {
    background-color: #388e3c;
}